body, html {
    background-color: var(--blue-600);
    height: 100%;
    margin: 0;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

.hidden {
    display: none !important;
}

.action {
    border: none;
    font-family: monospace;
    font-size: 30px;
    border-radius: 10px;

    margin-right: 2px;
    margin-left: 2px;

    background-color: var(--red-300);
    color: var(--white-300);

    cursor: pointer;

    padding: 10px;
    margin: 5px;
}

.note {
    background-color: var(--white-300);
    padding: 5px;
    color: black;
    font-family: monospace;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10px;
}

h1#resultamount {
    font-size: 20px;
    font-family: monospace;
    color: var(--white-300);
    text-align: center;
}



#view {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view #up {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    background-color: var(--green-300);
}

#view #up .scroll-btn-not-done {
    background-color: gray !important;
    cursor: not-allowed !important;
}

#view #bot {
    margin-top: 10px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view #bot .image {
    width: 40%;
}

#navbar {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar #searchbar {
    background-color: var(--brown-200);
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar #searchbar h1#label {
    font-family: monospace;
    font-size: 25px;
    color: #181D31;
}

#navbar #searchbar input[type="text"] {
    width: 50%;
    border: none;
    outline: none;
    background-color: #E27D60;
    padding: 5px;

    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;

    margin: 5px;
}

#navbar #searchbar input[type="submit"] {
    border: none;
    outline: none;
    background-color: #E27D60;
    padding: 10px;

    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;

    margin: 5px;
}

#navbar form#searchbar #search-tags .category-container {
    margin-top: 5px;
    margin-bottom: 5px;
    
    background-color: #181D31;
    padding: 10px;
    border-radius: 10px;
}

#navbar form#searchbar #search-tags .category-container .category-label {
    color: var(--white-300);
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}

#navbar form#searchbar #search-tags .category-container .search-tag-container {
    display: inline-block;
    margin: 2px;
}

#navbar form#searchbar #search-tags .category-container .search-tag-container input:checked ~ label {
    background-color: black;
}

#navbar form#searchbar #search-tags .category-container .search-tag-input {
    display: none;
}

#navbar form#searchbar #search-tags .category-container .search-tag-label {
    font-family: monospace;
    font-size: 14px;
    color: var(--white-300);
    display: inline-block;
    border-radius: 10px;
    background-color: var(--red-300);
    cursor: pointer;
    padding: 10px;
}




#image_dirs {
    width: 95%;
    margin-left: 2.5%;
}



#image_dirs button,
#image_dirs button > * {
    cursor: pointer;
}

#image_dirs button {
    background-color: var(--green-300);
    border-color: var(--white-300);
    border: solid;
    border-width: 2px;
    border-radius: 10px;

    width: 90%;

    display: inline-block;

    margin: 10px calc(25% / 6) 10px calc(25% / 6);
    border: none;
}

#image_dirs button #container {
    display: flex;
    flex-direction: row;

    align-items: center;
}

#image_dirs button img {
    max-width: 30%;
    border-radius: 10px;
}

#image_dirs button #content {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

#image_dirs button #content #top h1#last-read {
    font-size: 16px;
    font-family: monospace;
    background-color: var(--red-300);
    color: var(--white-300);

    padding: 6px 3px 6px 3px;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

#image_dirs button #content #top h1#title {
    font-size: 20px;
    font-family: monospace;
    color: var(--white-100);

    margin-left: 10px;
    margin-right: 10px;
}

#image_dirs button #content #bot {
    width: 100%;
}

#image_dirs button #content #bot #tag-ctn {
    width: 100%;
}

#image_dirs button #content #bot #tag-ctn .tag-1 {
    width: 90% !important;
}

#image_dirs button #content #bot #tag-ctn .tag {
    display: inline-block;
    background-color: var(--blue-600);
    padding: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;

    width: 40%;
    border-radius: 10px;
}

#image_dirs button #content #bot #tag-ctn .tag-1 #content {
    flex-direction: column !important;
}

#image_dirs button #content #bot #tag-ctn .tag #content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 90%;
}

#image_dirs button #content #bot #tag-ctn .tag #content h1#category {
    color: var(--white-300);
    font-family: monospace;
    font-size: 17px;
}

#image_dirs button #content #bot #tag-ctn .tag-1 #content .value h1.tagvalue {
    display: inline-block;
}

#image_dirs button #content #bot #tag-ctn .tag #content .value h1.tagvalue {
    font-family: monospace;
    font-size: 15px;
    color: var(--red-300);
    background-color: var(--white-300);
    border-radius: 10px;
    padding: 10px;
}

:root {
    --white-100: #F0E9D2;
    --white-300: #E6DDC4;

    --green-300: #678983;
    --red-300: rgb(231, 89, 89);
    --orange-500: #E27D60;
    --brown-200: #E8A87C;
    --purple-900: #C38D9E;
    --green-400: #41B3A3;

    --blue-600: #181D31;
}