body, html {
    background-color: var(--blue-600);
    height: 100%;
    margin: 0;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

.hidden {
    display: none !important;
}

.action {
    border: none;
    font-family: monospace;
    font-size: 30px;
    border-radius: 10px;

    margin-right: 2px;
    margin-left: 2px;

    background-color: var(--red-300);
    color: var(--white-300);

    cursor: pointer;

    padding: 10px;
}

#view {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view #up {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    background-color: var(--green-300);
}

#view #up .scroll-btn-not-done {
    background-color: gray !important;
    cursor: not-allowed !important;
}

#view #bot {
    margin-top: 10px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#view #bot .image {
    width: 40%;
}

#image_dirs {
    width: 95%;
    margin-left: 2.5%;
}



#image_dirs button,
#image_dirs button > * {
    cursor: pointer;
}

#image_dirs button {
    background-color: var(--green-300);
    border-color: var(--white-300);
    border: solid;
    border-width: 2px;
    border-radius: 10px;

    width: 25%;

    display: inline-block;

    margin: 10px calc(25% / 6) 10px calc(25% / 6);
    border: none;
}

#image_dirs button #container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#image_dirs button img {
    max-width: 100%;
    border-radius: 10px;
}

#image_dirs button h1#last-read {
    font-size: 25px;
    font-family: monospace;
    background-color: var(--blue-600);
    color: var(--white-300);

    padding: 6px 3px 6px 3px;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

#image_dirs button h1#title {
    font-size: 2vw;
    font-family: monospace;
    color: var(--white-100);

    margin-left: 10px;
    margin-right: 10px;
}

:root {
    --white-100: #F0E9D2;
    --white-300: #E6DDC4;

    --green-300: #678983;
    --red-300: rgb(231, 89, 89);

    --blue-600: #181D31;
}