@media screen and (min-width:1200px) and (max-width:1300px) {
    #image_dirs {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    #image_dirs button #container {
        flex-direction: column;
    }

    #image_dirs button img {
        max-width: 80%;
    }

    #image_dirs {
        grid-template-columns: auto auto auto;
    }

    #search-tags .category-container .search-artist-tag-container {
        max-width: 30%;
    }
}


@media screen and (max-width:800px) {
    #image_dirs button #container {
        flex-direction: column;
    }

    #image_dirs button img {
        max-width: 90%;
    }

    #image_dirs {
        grid-template-columns: auto auto;
    }

    #search-tags .category-container .search-artist-tag-container {
        max-width: 100%;
    }

    #view #bot .image {
        width: 100%;
    }

    #search-tags .category-container .search-artist-tag-container {
        width: 100%;
        margin-left: 0%;
    }

    #search-tags .category-container .search-tag-container .artworks {
        flex-direction: column;
    }

    #search-tags .category-container .search-artist-tag-container {
        margin-bottom: 15%;
    }
}