@media screen and (min-width:800px) and (max-width:1200px) {
    #image_dirs button #container {
        flex-direction: column;
    }

    #image_dirs button img {
        max-width: 80%;
    }

    #image_dirs button {
        width: 70%;
        margin: 10px 15% 10px 15%;
    }

    #image_dirs {
        width: 90%;
        margin-left: 5%;
    }

    #search-tags .category-container .search-artist-tag-container {
        max-width: 30%;
    }
}


@media screen and (max-width:800px) {
    #image_dirs button #container {
        flex-direction: column;
    }

    #image_dirs button img {
        max-width: 90%;
    }

    #image_dirs button {
        width: 80%;
        margin: 10px 5% 10px 5%;
    }

    #image_dirs {
        width: 90%;
        margin-left: 5%;
    }

    #search-tags .category-container .search-artist-tag-container {
        max-width: 100%;
    }

    #view #bot .image {
        width: 100%;
    }
}